<!-- ==========Header-Section========== -->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo">
                <a href="/user/">
                    <img style="border-radius: 20px;" src="/user/images/logo/logo-cinema.png" alt="logo">
                </a>
            </div>
            <ul class="menu">
                <li>
                    <a href="/user/" class="active">Trang chủ</a>
                </li>
                <li>
                    <a href="#0">Phim</a>
                    <ul class="submenu">
                        <li>
                            <a href="/user/movie-list">Tất cả phim</a>
                        </li>
                        <li>
                            <a href="/user/movie-list">Phim đang chiếu</a>
                        </li>
                        <li>
                            <a href="/user/movie-list">Phim sắp chiếu</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#0">Hệ thống rạp</a>
                    <ul class="submenu">
                        <li>
                            <a href="/user/movie-seat-plan">Tất cả các rạp</a>
                        </li>
                        <li>
                            <a href="#">Rạp đặc biệt</a>
                        </li>
                        <li>
                            <a href="#">Rạp sắp mở</a>
                        </li>
                </li>
                </ul>
                </li>
                <li>
                    <a href="/user/movie-ticket-plan">Lịch chiếu</a>
                </li>
                <li>
                    <a href="/user/contact">Liên hệ</a>
                </li>
                <li>
                    <a href="#">Thành viên</a>
                    <ul class="submenu">
                        <li>
                            <a href="/user/movie-customer-profile" class="active">Tài khoản</a>
                        </li>
                        <li>
                            <a href="#">Vé của tôi</a>
                        </li>
                    </ul>
                </li>
                <li class="header-button pr-0">
                    <a href="/user/sign-in">Đăng nhập</a>
                </li>
            </ul>
            <div class="header-bar d-lg-none">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
<!-- ==========Header-Section========== -->

<!-- ==========Banner-Section========== -->
<section class="banner-section">
    <div class="banner-bg bg_img bg-fixed" data-background="/user/images/banner/"></div>
    <div class="poster-cinema">
        <img class="poster-cinema-img" src="/user/images/poster/uu-dai-cinema.jpg" alt="sidebar">
    </div>
</section>
<!-- ==========Banner-Section========== -->

<!-- ==========Ticket-Search========== -->
<section class="search-ticket-section pt-lg-0">
    <div class="container">
        <div class="search-tab bg_img" data-background="/user/images/ticket/ticket-bg01.jpg">
            <div class="row align-items-center mb--20">
                <div class="col-lg-6 mb-20">
                    <div class="search-ticket-header">
                        <h6 class="category">Chào mừng bạn đến với rạp phim của chúng tôi</h6>
                        <h3 class="title">Bạn cần tìm kiếm gì ?</h3>
                    </div>
                </div>
            </div>
            <div class="tab-area">
                <div class="tab-item active">
                    <form class="ticket-search-form">
                        <div class="form-group large">
                            <input type="text" placeholder="Nhập vào tên phim">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="/user/images/ticket/date.png" alt="ticket">
                            </div>
                            <span class="type">Ngày</span>
                            <select class="select-bar">
                                <option value="26-12-19">23/10/2020</option>
                                <option value="26-12-19">24/10/2020</option>
                                <option value="26-12-19">25/10/2020</option>
                                <option value="26-12-19">26/10/2020</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="thumb">
                                <img src="/user/images/ticket/cinema.png" alt="ticket">
                            </div>
                            <span class="type">Rạp</span>
                            <select class="select-bar">
                                <option value="Awaken">CGV Sư Vạn Hạnh</option>
                                <option value="dhaka">CGV GiGa Mall</option>
                                <option value="Awaken">CGV Sư Vạn Hạnh</option>
                                <option value="dhaka">CGV GiGa Mall</option>
                                <option value="Awaken">CGV Sư Vạn Hạnh</option>
                                <option value="dhaka">CGV GiGa Mall</option>
                                <option value="Awaken">CGV Sư Vạn Hạnh</option>
                                <option value="dhaka">CGV GiGa Mall</option>
                            </select>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Ticket-Search========== -->

<!-- ==========Movie-Main-Section========== -->
<section class="movie-section padding-top padding-bottom bg-two">
    <div class="container">
        <div class="row flex-wrap-reverse justify-content-center">
            <div class="col-lg-3 col-sm-10  mt-50 mt-lg-0">
                <div class="widget-1 widget-facility">
                    <div class="widget-1-body">
                        <ul>
                            <li>
                                <a href="/user/movie-list/releaseDate">
                                    <span class="img"><img src="/user/images/ticket/cinema.png" alt="sidebar"></span>
                                    <span class="cate">Top phim mới</span>
                                </a>
                            </li>
                            <li>
                                <a href="/user/movie-list/mostViewed">
                                    <span class="img"><img src="/user/images/ticket/cinema.png" alt="sidebar"></span>
                                    <span class="cate">Top phim xem nhiều</span>
                                </a>
                            </li>
                            <li>
                                <a href="/user/movie-list/mostLiked">
                                    <span class="img"><img src="/user/images/ticket/cinema.png" alt="sidebar"></span>
                                    <span class="cate">Top phim yêu thích</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget-1 widget-banner">
                    <div class="widget-1-body">
                        <a href="#0">
                            <img src="/user/images/sidebar/banner/banner01.jpg" alt="banner">
                        </a>
                    </div>
                </div>
                <div class="widget-1 widget-trending-search">
                    <h3 class="title">Top tìm kiếm</h3>
                    <div class="widget-1-body">
                        <ul>
                            <li>
                                <h6 class="sub-title">
                                    <a href="#0">mars</a>
                                </h6>
                                <p>Movies</p>
                            </li>
                            <li>
                                <h6 class="sub-title">
                                    <a href="#0">alone</a>
                                </h6>
                                <p>Movies</p>
                            </li>
                            <li>
                                <h6 class="sub-title">
                                    <a href="#0">music event</a>
                                </h6>
                                <p>event</p>
                            </li>
                            <li>
                                <h6 class="sub-title">
                                    <a href="#0">NBA Games 2020</a>
                                </h6>
                                <p>Sports</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="widget-1 widget-banner">
                    <div class="widget-1-body">
                        <a href="#0">
                            <img src="/user/images/sidebar/banner/banner02.jpg" alt="banner">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="article-section padding-bottom">
                    <div class="section-header-1">
                        <h2 class="title">Top phim mới</h2>
                        <a class="view-all" href="/user/movie-list/releaseDate">Xem tất cả</a>
                    </div>
                    <div class="row mb-30-none justify-content-center">
                        <% if(justRelease.length !== 0) { %>
                            <% justRelease.forEach(function(movie) { %>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="/user/movie-detail/<%= movie.movie_id %>">
                                                <img src="/user/images/movie/movie01.jpg" alt="movie">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="/user/movie-detail/<%= movie.movie_id %>">
                                                    <%= movie.movie_name %>
                                                </a>
                                            </h5>
                                            <ul class="movie-rating-percent">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/user/images/movie/view.png" alt="movie">
                                                    </div>
                                                    <span class="content"><%= movie.movie_viewed %></span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/user/images/movie/heart.png" alt="movie">
                                                    </div>
                                                    <span class="content"><%= movie.movie_liked %></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% }else { %>
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="movie-grid">
                                                <div class="movie-thumb c-thumb">
                                                    <a href="#0">
                                                        <img src="/user/images/movie/movie03.jpg" alt="movie">
                                                    </a>
                                                </div>
                                                <div class="movie-content bg-one">
                                                    <h5 class="title m-0">
                                                        <a href="#0">venus</a>
                                                    </h5>
                                                    <ul class="movie-rating-percent">
                                                        <li>
                                                            <div class="thumb">
                                                                <img src="/user/images/movie/view.png" alt="movie">
                                                            </div>
                                                            <span class="content">88</span>
                                                        </li>
                                                        <li>
                                                            <div class="thumb">
                                                                <img src="/user/images/movie/heart.png" alt="movie">
                                                            </div>
                                                            <span class="content">88</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                    </div>
                </div>
                <div class="article-section padding-bottom">
                    <div class="section-header-1">
                        <h2 class="title">Top phim xem nhiều</h2>
                        <a class="view-all" href="/user/movie-list/mostViewed">Xem tất cả</a>
                    </div>
                    <div class="row mb-30-none justify-content-center">
                        <% if(mostViewed.length !== 0) { %>
                            <% mostViewed.forEach(function(movie) { %>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="/user/movie-detail/<%= movie.movie_id %>">
                                                <img src="/user/images/movie/movie03.jpg" alt="movie">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="/user/movie-detail/<%= movie.movie_id %>">
                                                    <%= movie.movie_name %>
                                                </a>
                                            </h5>
                                            <ul class="movie-rating-percent">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/user/images/movie/view.png" alt="movie">
                                                    </div>
                                                    <span class="content"><%= movie.movie_viewed %></span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/user/images/movie/heart.png" alt="movie">
                                                    </div>
                                                    <span class="content"><%= movie.movie_liked %></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% }else { %>
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="movie-grid">
                                                <div class="movie-thumb c-thumb">
                                                    <a href="#0">
                                                        <img src="/user/images/movie/movie01.jpg" alt="movie">
                                                    </a>
                                                </div>
                                                <div class="movie-content bg-one">
                                                    <h5 class="title m-0">
                                                        <a href="#0">alone</a>
                                                    </h5>
                                                    <ul class="movie-rating-percent">
                                                        <li>
                                                            <div class="thumb">
                                                                <img src="/user/images/movie/view.png" alt="movie">
                                                            </div>
                                                            <span class="content">88</span>
                                                        </li>
                                                        <li>
                                                            <div class="thumb">
                                                                <img src="/user/images/movie/heart.png" alt="movie">
                                                            </div>
                                                            <span class="content">88</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                    </div>
                </div>
                <div class="article-section">
                    <div class="section-header-1">
                        <h2 class="title">Top phim yêu thích</h2>
                        <a class="view-all" href="/user/movie-list/mostLiked">Xem tất cả</a>
                    </div>
                    <div class="row mb-30-none justify-content-center">
                        <% if(mostLiked.length !== 0) { %>
                            <% mostLiked.forEach(function(movie) { %>
                                <div class="col-sm-6 col-lg-4">
                                    <div class="movie-grid">
                                        <div class="movie-thumb c-thumb">
                                            <a href="/user/movie-detail/<%= movie.movie_id %>">
                                                <img src="/user/images/movie/movie01.jpg" alt="movie">
                                            </a>
                                        </div>
                                        <div class="movie-content bg-one">
                                            <h5 class="title m-0">
                                                <a href="/user/movie-detail/<%= movie.movie_id %>">
                                                    <%= movie.movie_name %>
                                                </a>
                                            </h5>
                                            <ul class="movie-rating-percent">
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/user/images/movie/view.png" alt="movie">
                                                    </div>
                                                    <span class="content"><%= movie.movie_viewed %></span>
                                                </li>
                                                <li>
                                                    <div class="thumb">
                                                        <img src="/user/images/movie/heart.png" alt="movie">
                                                    </div>
                                                    <span class="content"><%= movie.movie_liked %></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                                    <% }else { %>
                                        <div class="col-sm-6 col-lg-4">
                                            <div class="movie-grid">
                                                <div class="movie-thumb c-thumb">
                                                    <a href="#0">
                                                        <img src="/user/images/movie/movie02.jpg" alt="movie">
                                                    </a>
                                                </div>
                                                <div class="movie-content bg-one">
                                                    <h5 class="title m-0">
                                                        <a href="#0">mars</a>
                                                    </h5>
                                                    <ul class="movie-rating-percent">
                                                        <li>
                                                            <div class="thumb">
                                                                <img src="/user/images/movie/view.png" alt="movie">
                                                            </div>
                                                            <span class="content">88</span>
                                                        </li>
                                                        <li>
                                                            <div class="thumb">
                                                                <img src="/user/images/movie/heart.png" alt="movie">
                                                            </div>
                                                            <span class="content">88</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========Movie-Main-Section========== -->